target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.factorypath

*.class
*.log
*.jar
*.war
*.ear

.DS_Store
Thumbs.db

.env
.env.local
application-local.yml
application-local.properties
